In [1]:
import numpy as np
import pandas as pd

In [10]:
one = np.ones((2,3))
one

array([[1., 1., 1.],
       [1., 1., 1.]])

In [14]:
a = np.arange(0,10,2)
a

array([0, 2, 4, 6, 8])

In [17]:
r = np.random.randint(0,10 , size=(5,4))
r

array([[7, 7, 5, 2],
       [0, 2, 9, 9],
       [0, 3, 0, 3],
       [6, 8, 0, 5],
       [9, 1, 3, 4]])

In [20]:
r = np.random.random((5,3))
r

array([[0.3511839 , 0.07044842, 0.95811451],
       [0.0102221 , 0.22067264, 0.10813019],
       [0.83094216, 0.33143806, 0.78351359],
       [0.98272516, 0.45264339, 0.02043373],
       [0.75078457, 0.96572358, 0.89798524]])

In [42]:
np.random.seed(2)
arr = np.random.random((4,4))
arr

array([[0.4359949 , 0.02592623, 0.54966248, 0.43532239],
       [0.4203678 , 0.33033482, 0.20464863, 0.61927097],
       [0.29965467, 0.26682728, 0.62113383, 0.52914209],
       [0.13457995, 0.51357812, 0.18443987, 0.78533515]])

In [14]:
a1 = np.array([1,2,3,])

In [9]:
ones = np.ones(4)

In [7]:
ones

array([1., 1., 1.])

In [11]:
(a1 + ones).astype(int)

array([2, 3, 4, 5])

In [15]:
a2 = np.array([[2,3,4] ,[1,5,6]])
a2

array([[2, 3, 4],
       [1, 5, 6]])

In [16]:
a1 * a2

array([[ 2,  6, 12],
       [ 1, 10, 18]])

In [19]:
massive_array = np.random.random(10000)
massive_array[:20]

array([0.86257711, 0.59297144, 0.70455587, 0.5315088 , 0.01628632,
       0.1826859 , 0.05801573, 0.96937281, 0.05701299, 0.05788005,
       0.01730082, 0.47387375, 0.87364067, 0.47311699, 0.68937929,
       0.29454419, 0.05133886, 0.34386578, 0.00899296, 0.63662107])

In [21]:
%timeit sum(massive_array)
%timeit np.sum(massive_array)

593 µs ± 12.3 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)
4.75 µs ± 77.9 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [22]:
np.std()

0.816496580927726

In [26]:
a2.transpose()

array([[2, 1],
       [3, 5],
       [4, 6]])

In [29]:
a3 = np.array([[1,2,4] , [3,4,5] ,[1,5,7]])
a2 , a3

(array([[2, 3, 4],
        [1, 5, 6]]),
 array([[1, 2, 4],
        [3, 4, 5],
        [1, 5, 7]]))

In [28]:
a2.dot(a3)

array([[15, 36, 51],
       [22, 52, 71]])

In [50]:
np.random.seed(0)
sales_amounts = np.random.randint(0,10 , size = (5,3))
price = np.array([2,3,5])
sales_amounts

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [48]:
price

array([[39, 87, 46]])

In [51]:
total = sales_amounts * price
total

array([[10,  0, 15],
       [ 6, 21, 45],
       [ 6, 15, 10],
       [ 8, 21, 30],
       [16, 24,  5]])

In [30]:
np.random.seed(0)
mat = np.random.randint(20 , size=(5,3))
mat.shape

(5, 3)

In [6]:
sales = pd.DataFrame(mat , columns = ["Almond butter" , "Peanut butter" , "Cashew Butter"],
                    index= ["Mon" , "Tue" , "Wed" , "Thu" , "Fri"])

In [7]:
sales

     Almond butter  Peanut butter  Cashew Butter
Mon             12             15              0
Tue              3              3              7
Wed              9             19             18
Thu              4              6             12
Fri              1              6              7

In [32]:
price = np.array([10,8,12])
price.shape

(3,)

In [27]:
prices = pd.DataFrame(price.reshape(1,3) ,columns=["Almond butter" , "Peanut butter" , "Cashew Butter"]  , 
                      index=["Price"])

In [31]:
prices.shape

(1, 3)

In [33]:
total_sales = price.dot(sales.T)

In [34]:
sales["Total sales"] = total_sales

In [35]:
sales

     Almond butter  Peanut butter  Cashew Butter  Total sales
Mon             12             15              0          240
Tue              3              3              7          138
Wed              9             19             18          458
Thu              4              6             12          232
Fri              1              6              7          142